node_modules
dist
coverage
test
tests
.nyc_output
*.tsbuildinfo
.cache
tmp
*.tmp
*.swp
*.swo
*~
.env
*.log
.env.local
.env.*.local
.git
.gitignore
.gitattributes
.gitmodules
.idea
.vscode
*.iml
*.code-workspace
.DS_Store
Thumbs.db
Desktop.ini
docs
agent.md
